/* ==UserStyle==
@name           MyHeritage: line weight
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Increases the stroke of the lines.
@author         ciricuervo
==/UserStyle== */

@-moz-document domain("myheritage.com"), domain("myheritage.es") {

    path:not(g[data-type='_svgOuterGroup'] path) {
        stroke: rgb(128, 128, 128);
        stroke-width: 1.5px;
    }

}
